@import "_variables";

@mixin button-size($padding-x,$padding-y,$font-size,$border-raduis) {
    padding : $padding-x $padding-y;
    font-size: $font-size;
    border-radius: $border-raduis;
}

@mixin  button-style(
    $background,
    $border,
    $color,
    $hover-backgrond:lighten($background,7.5%),
    $hover-border:lighten($border,10%),
    $hover-color:$color
) {
    color: $color;
    background: $background;
    border-color: $border;
    &:hover{
        // color: $hover-backgrond;
        background: $hover-backgrond;
        border-color: $hover-border;
    }
    &:focus{
        color:$hover-color;
        background: $hover-backgrond;
        border-color: $hover-border;
    }

}

@mixin alert-style(
    $background,
    $border,
    $color,
) {
    color: $color;
    background: $background;
    border-color: $border;
}